.btn {
    display: block;
    height: 60px;
    line-height: 60px;
    width: 150px;
    text-align: center;
    color: $text_color_light;
    &:hover{
        text-decoration: none;
        color: $text_color_light !important;
    }
}

.btn-standard {
    @extend .btn;
    background: lightgray;
}

.btn-special{
    @extend .btn;
    background: $orange;
    transition: all $transition_speed;
    text-transform: uppercase;
    font-weight: $font_light;
    &:hover{
        background: $dark_orange;
    }
}

.btn_slider_left,
.btn_slider_right {
    position: relative;
    background: transparent;
    height: 118px;
    line-height: 118px;
    width: 39px;
    text-align: center;
}

.miniSlider_left {
    float: left;
    left: 0;
}

.miniSlider_right {
    float: right;
    right: 0;
}

&:before,
&:after {
    display: table;
    content: '';
}

&:after {
    clear: both;
}
