.btn{
    display: block;
    height: 60px;
    line-height: 60px;
    width: 150px;
    text-align: center;
    
    
    
}
    .standard{
        background: lightgray;
        color: yellow;
        
    }
    