$white: #fff;
$black: #303030;
$gray: #606060;
$light_gray: #eaeaea;

$text_color_dark_secondary: $gray;
$text_color_dark: $black;
$text_color_light: $white;
$text_color_light_secondary: $light_gray;

$line_color: $light_gray;
    