* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    list-style: none;
}

a{
    text-decoration: none;
    &:hover{
        color: $text_color_dark !important;
//        text-decoration: none !important;
    }
}

html,
body {
    height: 100%;
}

/* SPECIFICS - Resets for this project only.
========================================================================== */

input[type="submit"]{
    border: none;
    background: none;
}

