.hero {
    height: 100%;
    background: yellow;
    position: relative;
    z-index: 1;
}

.hero_content {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translateX(-50%);
    transform: translateY(-50%);
    width: 100%;
    left: 0;
    right: 0;
    z-index: 2;
}

.hero_title,
.hero_subtitle {
    text-align: center;
    width: 90%;
    margin: 0 auto;
}
.hero_title{
    text-transform: uppercase;
    font-size: $font_size_xlg;
    color: $text_color_light;
    font-weight: $font_normal;
}

.hero_subtitle {
    text-align: center;
    font-size: $font_size_md;
    color: $text_color_dark;
    font-weight: $font_normal;
    font-style: italic;
    margin-bottom: 20px;
}

.hero_btn {
    margin: 0 auto;
}

.hero_slider_left,
.hero_slider_right {
    position: absolute;
    background: transparent;
    height: 118px;
    line-height: 118px;
    width: 39px;
    background: transparent;
    text-align: center;
    display: block;
    top: 50%;
    transform: translateY(-50%);
    z-index: 3;
}

.hero_slider_left {
    left: 0;
}

.hero_slider_right {
    right: 0;
}

&:before,
&:after {
    display: table;
    content: '';
}

&:after {
    clear: both;
}

.hero_slider_paginator {
    position: absolute;
    bottom: 5%;
    left: 50%;
    transform: translateX(-50%);
    margin: 0 auto;
    text-align: center;
    .hero_paginator_btn {
        display: inline-block;
        text-indent: -9999px;
        width: 15px;
        height: 15px;
        margin: 0 auto;
        margin-right: 10px;
        color: transparent;
        border: 1px solid #fff;
        transition: background 0.5s ease;
        &:hover {
            background: #fff;
            color: transparent !important;
        }
        &:last-child {
            margin-right: 0;
        }

    }
    
    a{

    }
}