.hero {
    height: 100%;
    background: yellow;
    position: relative;
    z-index: 1;
}

.hero_content {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translateX(-50%);
    transform: translateY(-50%);
    width: 100%;
    left: 0;
    right: 0;
}

.hero_title,
.hero_subtitle {
    text-align: center;
    width: 90%;
    margin: 0 auto;
}

.hero_subtitle {
    text-align: center;
}

.hero_btn {
    margin: 0 auto;
}

.hero_slider {
    position: relative;
    top: 50%;
    transform: translateY(-50%);
    .hero_slider_left,
    .hero_slider_right {
        position: relative;
        background: transparent;
        height: 118px;
        line-height: 118px;
        width: 39px;
        background: transparent;
        text-align: center;
    }
    .hero_slider_left {
        float: left;
    }
    .hero_slider_right {
        float: right;
    }
    &:before,
    &:after {
        display: table;
        content: '';
    }
    &:after {
        clear: both;
    }
}

.hero_slider_paginator {
    position: absolute;
    bottom: 5%;
    left: 50%;
    transform: translateX(-50%);
    margin: 0 auto;
    text-align: center;
    > .hero_paginator_btn {
        display: inline-block;
        text-indent: -99999px;
        width: 15px;
        height: 15px;
        margin: 0 auto;
        margin-right: 10px;
        border: 1px solid #fff;
        transition: all 0.5s ease;
        &:hover {
            background: #fff;
        }
        &:last-child{
            margin-right: 0;
        }
    }
}