/* VARIABLES - Variables used in this module.
========================================================================== */

$title_padding: 40px;


/* STYLE - General styling for this module.
========================================================================== */

.miniSlider {
    width: 100%;
    padding: $section_distance_small 0;
}

.miniSlider_content {
    position: relative;
    background: gray;
    height: 118px;
    .miniSlider_left,
    .miniSlider_right {
        position: relative;
        background: transparent;
        height: 118px;
        line-height: 118px;
        width: 39px;

        text-align: center;
    }
    .miniSlider_left {
        float: left;
        left: 0;
    }
    .miniSlider_right {
        float: right;
        right: 0;
    }
    &:before,
    &:after {
        display: table;
        content: '';
    }
    &:after {
        clear: both;
    }
}

.miniSlider_title{
    padding: $title_padding 0;
    text-align: center;
    color: $text_color_dark_secondary;
    font-family: $georgia_normal;
    font-style: italic;
    font-size: $font_size_md;
    font-weight: $font_light;
}