/* VARIABLES - Variables used in this module.
========================================================================== */

$selector_margin_bottom: 60px;

/* STYLE - General styling for this module.
========================================================================== */

.selector{
    margin-bottom: $selector_margin_bottom;
}

.selector_holder{
    cursor: pointer;
    width: 178px;
    height: 30px;
    border: none;
    border-bottom: 2px solid $text_color_dark_secondary;
    width: 90%;
    text-align: center;
    margin-bottom: 20px;
    left: 50%;
    position: relative;
    transform: translateX(-50%);
    
    *{
        outline: 0 !important;
        border: 0 !important;
        font-family: Georgia;
        font-size: 16px;
    }
    

}

.selector_wrapper{
    &:last-child{

    }
}

/* BREAKPOINTS - Specific layout changes for responsiveness.
========================================================================== */

@include breakpoint(xs) {
   .selector_holder{
        
        max-width: 280px;
    }
}

@include breakpoint(xxs) {
   .selector_holder{
    
        max-width: 250px;
    }
}