.title {
    padding: 60px 0;
    > * {
        text-align: center;
        width: 80%;
        margin: 0 auto;
    }
    > .title_title {
        text-transform: uppercase;
    }
    > .title_subtitle {}
}

.--title_subtitle_link{
    position: relative;
    font-weight: 300;
    text-decoration: underline;
    
    &:after{
        content: '▶';
        display: inline-block;
        position: relative;
        left: 65px;
        bottom: 29px;
        font-size: 16px;
    }
}