/* FONTS SIZES - Sizes for all fonts throughout the project.
========================================================================== */

$icon-size: 17px;
$font-size-lg: 35px;


/* PADDINGS & MARGINS - Distance from section to section.
========================================================================== */

$section_distance: 60px;
$section_distance_small: 40px;

/* ANIMATIONS - General rules for animations.
========================================================================== */
$transition_speed: .2s;